@font-face {
  font-family: Mishafi-Gold;
  src: url('../../assets/fonts/Mishafi-Gold-Regular.ttf');
}

body {
  position: relative;
  min-height: 100%;
  color: #435C64 !important;
  font-family: 'Poppins', sans-serif;
  background: #FAFAFA;
}

a {
  transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 8px;
  font-size: 14px;
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn-primary {
  background: #22B1C3 !important;
  color: #fff;
  border: 1px solid #22B1C3 !important;
}

.text-primary {
  color: #22b1c3 !important;
}

.form-control {
  font-size: 13px;
  height: 35px;
  border-radius: 6px
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #22B1C3 !important;
  font-size: 14px;
}

.form-group {
  margin-bottom: 30px;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

header img {
  width: 130px;
}

.navbar-brand span {
  color: #35256c;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  top: 2px;
}

#sidebar-wrapper {
  z-index: 1000;
  border-radius: 0;
  position: fixed;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fafafa;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 220px;
  text-align: center;
  padding: 20px 0;
}

.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 20px;
  width: 220px;
  margin: 0;
  padding: 6px 10px;
  list-style: none;
}

.sidebar-nav>li {
  text-indent: 10px;
  padding: 3px 10px;
  border-bottom: 1px solid #d3d1d1;
}

.sidebar-nav>li a {
  display: block;
  text-decoration: none;
  color: #22b1c3;
  line-height: 32px;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-nav>li>a:hover {
  color: #35256c;
}

.sidebar-nav>li.active>a {
  text-decoration: none;
  font-weight: 600;
}

.sidebar-nav>li a span {
  font-size: 30px;
  font-weight: 600;
  font-family: Mishafi-Gold;
  margin-left: 3px;
}

.sidebar-nav>li>a i.fa {
  font-size: 16px;
  margin-right: 5px;
}

.sidebar-nav>li:nth-child(3) {
  border-bottom: 0;
}

#content-wrapper {
  width: 100%;
  padding: 30px 30px 40px 30px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.navbar {
  background: #22B1C3 !important;
  color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px rgb(0 0 0 / 26%);
  z-index: 999;
  top: 0;
  padding: 2px 30px 2px 30px;
}

#sidebar-toggle {
  color: #fff;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: initial;
  right: -7px;
  min-width: 12rem;
  box-shadow: 0px 5px 15px #5e5a5a1c;
  margin-top: 18px;
  border: none;
}

.navbar .badge {
  width: 12px;
  padding: 0;
  height: 12px;
  border-radius: 50%;
  font-size: 9px;
  line-height: 13px;
  background: #FFA007;
  color: #fff;
  display: block !important;
  position: absolute;
  top: 2px;
  right: -8px;
}

.navbar .badge-success {
  background: #9BF014;
  border: 2px solid #5A6378;
}


/* Dashboard */

.user-dashboard .navbar-forms .btn {
  background: #22b1c3 !important;
  border: 1px solid #22b1c3 !important;
  padding: 6px;
  border-radius: 6px;
  width: 35px;
  height: 35px;
}

.user-dashboard .navbar-forms .form-control {
  border-radius: 6px !important;
  margin-right: 10px;
}

.user-dashboard .card {
  border-radius: 12px;
  box-shadow: 0px 2px 10px #0000000f;
  border: none;
  margin-bottom: 25px;
}

.user-dashboard .card .card-body {
  padding: 20px;
  border-radius: 12px;
  background: #fff;
}

.user-dashboard .card .card-body h2 {
  font-weight: 600;
  margin-bottom: 0px;
}

.user-dashboard .card .card-body form label {
  margin-top: 5px;
}

.modal h5 {
  color: #22B1C3 !important;
  font-size: 18px;
}

.modal .modal-body {
  padding: 25px 30px;
}

.modal .modal-body h6 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #000;
}

.modal .modal-body p {
  font-size: 13px;
}

.modal .form-group {
  margin-bottom: 10px;
}

.modal .form-group span {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.modal .modal-content {
  border-radius: 12px;
  border: none;
}

.fa-times {
  position: absolute;
  right: 15px;
  font-size: 20px;
  top: 15px;
  color: #35256c;
  -webkit-text-stroke: 2px #e9e4f9;
}

.search-block .item {
  text-align: center;
}

.search-block .item h6 {
  font-weight: 600;
  color: #22B1C3 !important;
  font-size: 14px;
}

.search-block .item p {
  font-size: 11px;
  margin-bottom: 0;
  text-align: left;
}

.search-block .item img {
  max-width: 50px;
  min-height: 40px;
  object-fit: contain;
  margin: 10px auto 15px;
}

.search-block .item .card {
  min-height: 250px;
}

.search-engine h5 {
  font-weight: 600;
  color: #22B1C3;
  margin-bottom: 20px;
}

.search-engine p {
  font-size: 13px;
}

.search-engine a {
  color: #22B1C3;
}

.owl-nav button {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button i {
  background: #22b1c3 !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
}

.owl-nav button.owl-prev {
  left: -13px;
}

.owl-nav button.owl-next {
  right: -13px;
}

footer {
  background: #fff;
  padding: 12px 0;
  color: #22B1C3 !important;
}

footer p {
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
}

.arabic-block h5 {
  font-size: 32px;
  color: #000;
}

.arabic-block p {
  font-size: 12px;
}


/* FAQ */

.faq-section {
  padding: 60px 0;
}

.faq-section h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

.faq-section .card {
  border: none;
  border-radius: 6px !important;
  box-shadow: 0px 1px 4px #00000021;
  margin-bottom: 20px;
}

.faq-section .card-header {
  background: #5268C2;
  padding: 10px 10px 0;
  border: none;
  border-radius: 15px 15px 0px 0px;
}

.faq-section .card .card-header .btn-header-link {
  display: block;
  text-align: left;
  background: #22b1c3;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 0;
  line-height: 22px;
}

.faq-section .card .card-header .btn-header-link span {
  font-weight: 600;
  font-size: 24px;
}

.faq-section .card .card-header .btn-header-link small {
  font-weight: 600;
}

.faq-section .card .card-header .btn-header-link:after {
  content: "\f106";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 900;
  float: left;
  border-radius: 50%;
  color: #fff;
  padding: 1px;
  display: block;
  line-height: 14px;
  font-size: 18px !important;
  text-align: center;
  margin-top: 6px;
  position: absolute;
  left: 10px;
  top: 8px;
}

.faq-section .card .card-header .btn-header-link.collapsed {
  background: #22b1c3;
  color: #fff;
  border-radius: 0;
}

.faq-section .card .card-header .btn-header-link.collapsed:after {
  content: "\f107";
  color: #fff;
}

.faq-section .card .collapsing {
  background: #fff;
  line-height: 30px;
}

.faq-section .accordion .card {
  box-shadow: none;
}

.faq-section .accordion .card-header {
  background: transparent;
  padding: 0;
  position: relative;
}

.faq-section .accordion .card-body {
  padding: 20px 25px;
  font-size: 16px;
}

.icon-block {
  position: absolute;
  right: 10px;
  top: 7px;
}

.icon-block a {
  background: #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: block;
  margin-bottom: 8px;
  text-align: center;
  line-height: 30px;
}

.icon-block a img {
  width: 18px;
}


/* Media Query */

@media (min-width: 992px) {
  #wrapper {
    padding-left: 220px;
    padding-top: 58px;
  }
  #wrapper.toggled {
    padding-left: 60px;
  }
  #sidebar-wrapper {
    width: 220px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }
  #wrapper.toggled {
    padding-left: 0px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
    
    min-height: calc(100vh - 104px);
  }
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (max-width: 1200px) {
  #content-wrapper {
    padding: 30px 30px 50px 30px;
  }
  header .navbar-light .navbar-nav .nav-link {
    color: #000;
    padding: 10px 20px;
  }
  .navbar {
    padding: 4px 15px;
  }
}

@media (max-width: 991px) {
  #wrapper {
    padding-left: 0;
  }
  #content-wrapper {
    padding: 90px 30px 50px 30px;
  }
  .user-dashboard .card .card-body {
    padding: 15px;
  }
  header img {
    width: 100px;
  }
  .navbar-collapse {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  .navbar-light .navbar-toggler:focus {
    outline: none;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 220px;
    box-shadow: 0 0 11px #0000002e;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -220px;
  }
  #content-wrapper {
    position: relative;
    padding: 70px 20px 30px 20px;
  }
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
  .sidebar-nav {
    position: absolute;
    top: 45px;
  }
  .arabic-block h5 {
    font-size: 22px;
  }
}

@media (max-width: 576px) {}